body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 1rem;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

#init {
  background-color: greenyellow;
}

#pause {
  background-color: blanchedalmond;
}

#resume {
  background-color: lightcyan;
}


